*{
    margin: 0;
    font-family: sans-serif;
}
.headder{
    width: 100%;
    height: 80px;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.a1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 400px;
    height: 80px;
}
.menu{
    display: none;
}
.a2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 600px;
    height: 80px;
    color: gray;
}
.a2 :hover{
    text-decoration: underline;
    font-size: 20px;
    color: black;
}
.sec1{
    width: 100%;
    height: 600px;
    background-image: url(./522e6a5f380cba7232041d621d835a77aaeaf072.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 1px;
}
.a3{
    font-size: 60px;
    width: 500px;
    margin-top: 150px;
    margin-left: 20px;
}
.a4{
    width: 400px;
    height: 150px;
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}
.a5{
    width: 440px;
    height: 50px;
    background-color: rgba(61, 59, 59, 0.982);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a5:hover{

    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;   
    box-shadow: 0px 0px 10px black;
}
.a6{
    margin-left: 1040px;
    margin-top: 60px;
}
.sec2{
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.a7{
    width: 280px;
    height: 150px;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 10px;
}
.sec3{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a8{
    width: 700px;
    height: 500px;
    background-image: url(./unsplash_6anudmpILw4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.a9{
    width: 300px;
    height: 400px;
    background-color: blue;
    color: white;
    padding: 20px;
    position: relative;
    right: 120px;
}
.sec4{
    width: 100%;
    height:230px;
    background-color: #F6F8F7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
.a10{
    width: 250px;
    height: 150px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px grey;
}
.sec5{
    width: 100%;
    height: 450px;

    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 400px;
}
.a11{
    width: 700px;
    height: 450px;

    position: absolute;
}
.a12{
    width: 200px;
    height: 100px;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 400px;
    z-index: 500;

}
.a13{
    width: 200px;
    height: 100px;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 200px;
    bottom: 100px;

}
.a14{
    width: 200px;
    height: 100px;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 400px;
    bottom: 100px;
    z-index: 1300;
}
.a15{
    width: 200px;
    height: 100px;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 200px;
    bottom: 200px;
    z-index: 200;
}
.a16{
    position: relative;
    left: 580px;
    bottom: 580px;
    z-index: 600;
}
.a17{
    position: relative;
    left: 80px;
    bottom: 580px;
}

.a18{
    position: relative;
    left: 250px;
    bottom: 250px;
    z-index: 10000;
}
.a19{
    position: relative;
    left: 300px;
    bottom: 400px;
    z-index: 2000;
}
.a20{
    width: 400px;
    height: 450px;
    margin-left: 800px;
}
.sec6{
    width: 100%;
    height: 200px;
    background-image: url(./f00572a9e4c1d924a7af45ea22ff31a554b4eee0.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.236);
    padding-top: 30px;
    color: #F6F8F7;
}
.sec7{
    width: 100%;
    height: 1000px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;

    
}
.a21{
    width: 300px;
    height: 400px;
    margin-left: 40px;
}
.a22{
    width: 1000px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.a23{
    width: 400px;
    height: 410px;
    background-color: blue;
    color: white;
}
.sec8{
    background-color: #F6F8F7;
    width: 100%;
    height: 600px;
    padding-top: 30px;
    text-align: center;
}
.a24{
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 40px;
}
input{
    padding: 15px;
    margin: 10px;
    width: 200px;
}
.sec9{
    width: 80%;
    margin: auto;
    height: 250px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a25{
    width: 500px;
    height: 220px;

}
.a26{
    width: 500px;
    height: 220px;

}
.icons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.finish{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: blue;
    color: white;
}
@media (max-width:510px) {
    .headder{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        .a2{
            display: none;
        }
        .menu{
            display: block;
        }
        .a1{
            width: 200px;
        }
    }
    .sec1{
        width: 100%;
        height: 800px;
        flex-wrap: wrap;
        text-align: center;
        .a3{
            margin: auto;
            text-align: center;
            width: 100%;
            margin-top: 40px;
        }
        .a6{
            width: 90%;
            margin: auto;
            margin-right: 300px;
            margin-top: 200px;
        }
        .a4{
            width: 100%;
        }
        .a5{
            width: 111.5%;
        }
    }
    .sec2{
        width: 100%;
        height: 700px;
        flex-wrap: wrap;
    }
    .sec3{
        width: 100%;
        flex-wrap: wrap;
        height: 1000px;
        .a9{
            margin: auto;
            width: 80%;
            margin-left: 230px;
            margin-top: -40px;
        }
    }
    .sec4{
        flex-wrap: wrap;
        height: 800px;
    }
    .sec5{
        display: none;
        .a11{
            display: none;
        }
        .a20{
            display: none;
        }
    }
    .sec6{
         color: black;
    }
    .sec7{
        width: 80%;
        height: 300px;
        margin: auto;
        flex-wrap: wrap;
    }
    .a21{
        width: 100%;
        height: 400px;
    }
    .a22{
        margin: auto;
        margin-right: 400px;
        display: none;
    }
    .sec8{
        .a24{
            flex-wrap: wrap;
            width: 80%;
            margin: auto;
            height: 600px;
        }
    }
    .sec9{
        width: 300px;
        height: 700px;
        flex-wrap: wrap;
        .a25{
            flex-wrap: wrap;
            text-align: center;
        }
        .a26{
            flex-wrap: wrap;
            text-align: center;
        }
        .icons{

            text-align: center;
            margin-top: 30px;
        }
        .aaaa{
            margin: auto;
        }
    }
    .finish{
        
    }
}